<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:dist="http://schemas.android.com/apk/distribution"
    package="me.ranieripieper.android.github.pullrequest">

    <dist:module
        dist:instant="false"
        dist:title="@string/title_pullrequest">
        <dist:delivery>
            <dist:on-demand />
        </dist:delivery>
        <dist:fusing dist:include="true" />
    </dist:module>

    <uses-permission android:name="android.permission.INTERNET" />

    <application>
        <activity
            android:name=".view.PullRequestActivity"
            android:theme="@style/Theme.GitHub.NoActionBar" />
    </application>
</manifest>